.container {
    padding: 2em;
    background: url('/felt.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.hand_container {
    display: flex;
    gap: 2em;
    align-items: center;
}

.hand_index, .arrow {
    font-size: 2em;
}

.felt_selector {
    align-self: flex-end;
}