.hand {
    display: flex;
    gap: 0.5em;
}

.spacer {
    margin: 0 1em;
}

.arrow {
    font-size: 2em;
}

.handFull {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25em;
}

.handCards {
    display: flex;
    gap: 0.5em;
}